{% comment %}
  Renders colors

  Usage:
      {% render 'ui-colors' %}
{% endcomment %}

<div class="grid grid-cols-2 gap-x-5 gap-y-8 lg:grid-cols-12">
  <div class="col-span-2 lg:col-span-12">
    <div class="flex flex-wrap items-center gap-5">
      <h2 class="!text-xl !font-bold uppercase">Path:</h2>
      <div class="rounded bg-stone-300/40 px-2 py-1 font-mono text-sm italic">snippets/colors.liquid</div>
    </div>
  </div>

  <div class="col-span-2 flex flex-col items-start lg:col-span-4 2xl:col-span-3">
    <div class="!block h-28 w-full rounded-lg border border-stone-300/40 bg-primary"></div>
    <div class="mb-1 mt-2 flex w-full justify-between rounded bg-stone-300/20 px-2 py-1 font-mono text-xs">
      <span>primary</span>
      <span>#211F20</span>
    </div>
  </div>

  <div class="col-span-2 flex flex-col items-start lg:col-span-4 2xl:col-span-3">
    <div class="!block h-28 w-full rounded-lg border border-stone-300/40 bg-red-500"></div>
    <div class="mb-1 mt-2 flex w-full justify-between rounded bg-stone-300/20 px-2 py-1 font-mono text-xs">
      <span>red-500</span>
      <span>#FF4141</span>
    </div>
  </div>

  <div class="col-span-2 flex flex-col items-start lg:col-span-4 2xl:col-span-3">
    <div class="!block h-28 w-full rounded-lg border border-stone-300/40 bg-green-100"></div>
    <div class="mb-1 mt-2 flex w-full justify-between rounded bg-stone-300/20 px-2 py-1 font-mono text-xs">
      <span>green-100</span>
      <span>#83DBCB</span>
    </div>
  </div>

  <div class="col-span-2 flex flex-col items-start lg:col-span-4 2xl:col-span-3">
    <div class="!block h-28 w-full rounded-lg border border-stone-300/40 bg-purple-100"></div>
    <div class="mb-1 mt-2 flex w-full justify-between rounded bg-stone-300/20 px-2 py-1 font-mono text-xs">
      <span>purple-100</span>
      <span>#6743FF</span>
    </div>
  </div>

  <div class="col-span-2 flex flex-col items-start lg:col-span-4 2xl:col-span-3">
    <div class="!block h-28 w-full rounded-lg border border-stone-300/40 bg-pink-100"></div>
    <div class="mb-1 mt-2 flex w-full justify-between rounded bg-stone-300/20 px-2 py-1 font-mono text-xs">
      <span>pink-100</span>
      <span>#FFD5E0</span>
    </div>
  </div>

  <div class="col-span-2 flex flex-col items-start lg:col-span-4 2xl:col-span-3">
    <div class="!block h-28 w-full rounded-lg border border-stone-300/40 bg-beige-10"></div>
    <div class="mb-1 mt-2 flex w-full justify-between rounded bg-stone-300/20 px-2 py-1 font-mono text-xs">
      <span>beige-10</span>
      <span>#F2F0E9</span>
    </div>
  </div>

  <div class="col-span-2 flex flex-col items-start lg:col-span-4 2xl:col-span-3">
    <div class="!block h-28 w-full rounded-lg border border-stone-300/40 bg-beige-100"></div>
    <div class="mb-1 mt-2 flex w-full justify-between rounded bg-stone-300/20 px-2 py-1 font-mono text-xs">
      <span>beige-100</span>
      <span>#FFBF00</span>
    </div>
  </div>

  <div class="col-span-2 flex flex-col items-start lg:col-span-4 2xl:col-span-3">
    <div class="!block h-28 w-full rounded-lg border border-stone-300/40 bg-gray-75"></div>
    <div class="mb-1 mt-2 flex w-full justify-between rounded bg-stone-300/20 px-2 py-1 font-mono text-xs">
      <span>gray-75</span>
      <span>#FAFAFA</span>
    </div>
  </div>

  <div class="col-span-2 flex flex-col items-start lg:col-span-4 2xl:col-span-3">
    <div class="!block h-28 w-full rounded-lg border border-stone-300/40 bg-gray-100"></div>
    <div class="mb-1 mt-2 flex w-full justify-between rounded bg-stone-300/20 px-2 py-1 font-mono text-xs">
      <span>gray-100</span>
      <span>#F7F7F7</span>
    </div>
  </div>

  <div class="col-span-2 flex flex-col items-start lg:col-span-4 2xl:col-span-3">
    <div class="!block h-28 w-full rounded-lg border border-stone-300/40 bg-gray-200"></div>
    <div class="mb-1 mt-2 flex w-full justify-between rounded bg-stone-300/20 px-2 py-1 font-mono text-xs">
      <span>gray-200</span>
      <span>#EFEFEF</span>
    </div>
  </div>

  <div class="col-span-2 flex flex-col items-start lg:col-span-4 2xl:col-span-3">
    <div class="!block h-28 w-full rounded-lg border border-stone-300/40 bg-gray-300"></div>
    <div class="mb-1 mt-2 flex w-full justify-between rounded bg-stone-300/20 px-2 py-1 font-mono text-xs">
      <span>gray-300</span>
      <span>#E4E4E4</span>
    </div>
  </div>

  <div class="col-span-2 flex flex-col items-start lg:col-span-4 2xl:col-span-3">
    <div class="!block h-28 w-full rounded-lg border border-stone-300/40 bg-gray-400"></div>
    <div class="mb-1 mt-2 flex w-full justify-between rounded bg-stone-300/20 px-2 py-1 font-mono text-xs">
      <span>gray-400</span>
      <span>#CECECE</span>
    </div>
  </div>

  <div class="col-span-2 flex flex-col items-start lg:col-span-4 2xl:col-span-3">
    <div class="!block h-28 w-full rounded-lg border border-stone-300/40 bg-gray-500"></div>
    <div class="mb-1 mt-2 flex w-full justify-between rounded bg-stone-300/20 px-2 py-1 font-mono text-xs">
      <span>gray-500</span>
      <span>#ACACAC</span>
    </div>
  </div>

  <div class="col-span-2 flex flex-col items-start lg:col-span-4 2xl:col-span-3">
    <div class="!block h-28 w-full rounded-lg border border-stone-300/40 bg-gray-600"></div>
    <div class="mb-1 mt-2 flex w-full justify-between rounded bg-stone-300/20 px-2 py-1 font-mono text-xs">
      <span>gray-600</span>
      <span>#7F7F7F</span>
    </div>
  </div>

  <div class="col-span-2 flex flex-col items-start lg:col-span-4 2xl:col-span-3">
    <div class="!block h-28 w-full rounded-lg border border-stone-300/40 bg-gray-700"></div>
    <div class="mb-1 mt-2 flex w-full justify-between rounded bg-stone-300/20 px-2 py-1 font-mono text-xs">
      <span>gray-700</span>
      <span>#565656</span>
    </div>
  </div>

  <div class="col-span-2 flex flex-col items-start lg:col-span-4 2xl:col-span-3">
    <div class="!block h-28 w-full rounded-lg border border-stone-300/40 bg-gray-800"></div>
    <div class="mb-1 mt-2 flex w-full justify-between rounded bg-stone-300/20 px-2 py-1 font-mono text-xs">
      <span>gray-800</span>
      <span>#383838</span>
    </div>
  </div>

  <div class="col-span-2 flex flex-col items-start lg:col-span-4 2xl:col-span-3">
    <div class="!block h-28 w-full rounded-lg border border-stone-300/40 bg-gray-900"></div>
    <div class="mb-1 mt-2 flex w-full justify-between rounded bg-stone-300/20 px-2 py-1 font-mono text-xs">
      <span>gray-900</span>
      <span>#211F20</span>
    </div>
  </div>
</div>
