{% comment %}
  Renders typography

  Usage:
      {% render 'ui-typography' %}
{% endcomment %}

<div class="grid grid-cols-2 lg:grid-cols-12">
  <div class="col-span-2 lg:col-span-12">
    <div class="mb-10 flex items-center gap-20">
      <h1>Heading H1</h1>
      <div class="font-mono text-sm italic tracking-normal">
        <div>font-size: 40px</div>
        <div>line-height: 44px</div>
      </div>
    </div>

    <div class="mb-10 flex items-center gap-20">
      <h2>Heading H2</h2>
      <div class="font-mono text-sm italic tracking-normal">
        <div>font-size: 36px</div>
        <div>line-height: 40px</div>
      </div>
    </div>

    <div class="mb-10 flex items-center gap-20">
      <h3>Heading H3</h3>
      <div class="font-mono text-sm italic tracking-normal">
        <div>font-size: 32px</div>
        <div>line-height: 36px</div>
      </div>
    </div>

    <div class="mb-10 flex items-center gap-20">
      <h4>Heading H4</h4>
      <div class="font-mono text-sm italic tracking-normal">
        <div>font-size: 24px</div>
        <div>line-height: 28px</div>
      </div>
    </div>

    <div class="flex items-center gap-20">
      <h5>Heading H5</h5>
      <div class="font-mono text-sm italic tracking-normal">
        <div>font-size: 20px</div>
        <div>line-height: 24px</div>
      </div>
    </div>
  </div>
</div>
